<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BankControl</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
    <!--<link href="../css/style.css" th:href="@{/style.css}" rel="stylesheet">-->
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Bank Control</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" href="/">Home</a>
        <a class="btn btn-outline-primary" href="/kontrole">Kontrole do wykonania</a>
        <a class="btn btn-outline-primary" href="/kontrole/dodajKontrole">Dodaj kontrole</a>
    </nav>
</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Zasady ogólne</h1>
    <p class="lead">
	    <ul>
	        <li> kontrola wykonuje jest przez pracownika posiadającego stosowne upoważnienie</li>
	        <li> kontrola nie może być wcześniej awizowana</li>
	        <li>kontrola jest przeprowadzana na podstawie obowiązujących procedur</li>
	    </ul>
    </p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Kontrola bezpieczeństwa</h4>
            </div>
            <div class="card-body">
                <!--<h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>-->
                <ul class="list-unstyled mt-3 mb-4">
                    <li>blokowanie komputera przed opuszczeniem stanowiska</li>
                    <li>przechowywanie dokumentacji w wyznaczonym miejscu</li>
                    <li>zamykanie sejfów stanowiskowych</li>
                </ul>
                <button type="button" class="btn btn-outline-primary">Szczegóły</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Kontrola gotówki</h4>
            </div>
            <div class="card-body">
                <!--<h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>-->
                <ul class="list-unstyled mt-3 mb-4">
                    <li>zgodność rzeczywistego stanu gotówki ze stanem wynikającym z systemu</li>
                    <li>przestrzeganie limitów gotówki na stanowisku</li>
                </ul>
                <button type="button" class="btn btn-outline-primary">Szczegóły</button>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
               <!-- <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">-->
                <small class="d-block mb-3 text-muted">© 2019</small>
            </div>
            <div class="col-6 col-md">
                <h5>Przydatne linki</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Procedury</a></li>
                    <li><a class="text-muted" href="#">Zgłoś fraud</a></li>
                    <li><a class="text-muted" href="#">Dokumentacja klientów</a></li>
                    <li><a class="text-muted" href="#">System Mój Klient</a></li>
                    <li><a class="text-muted" href="#">Pomoc</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Informacje prawne</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">RODO</a></li>
                    <li><a class="text-muted" href="#">Gwarancja depozytów BFG</a></li>
                    <li><a class="text-muted" href="#">FATCA/CRS</a></li>
                    <li><a class="text-muted" href="#">MiFID</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>O Banku</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Placówki Banku</a></li>
                    <li><a class="text-muted" href="#">Zarząd i Rada Nadzorcza </a></li>
                    <li><a class="text-muted" href="#">Raport roczny 2018</a></li>
                    <li><a class="text-muted" href="#">Grupa Kapitałowa Banku</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>