<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BankControl</title>
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
<link href="../static/style.css" th:href="@{/style.css}"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://formden.com/static/cdn/bootstrap-iso.css" />
<link rel="stylesheet"
	href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
<style>
.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p,
	.bootstrap-iso form {
	font-family: Arial, Helvetica, sans-serif;
	color: black
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
	color: white !important;
}

.asteriskField {
	color: red;
}
</style>


</head>
<body>
	<div
		class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<h5 class="my-0 mr-md-auto font-weight-normal">Bank Control</h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-outline-primary" href="/">Home</a> <a
				class="btn btn-outline-primary" href="/kontrole">Kontrole do
				wykonania</a> <a class="btn btn-outline-primary"
				href="/kontrole/dodajKontrole">Dodaj kontrole</a>
		</nav>
	</div>
	<div>
	<div class="card-header">
		<h4 class="my-0 font-weight-normal">Dodaj kontrolę</h4>
	</div>
	<form th:object="${kontrola}" th:action="@{/kontroleDodaj}" th:method="post">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Nazwa Kontroli:</label>
			<div class="col-sm-3">
				<select class="form-control" name="rodzajKontroliId"
					th:object="${rodzajeKontroli}">
					<option value="default"></option>
					<option th:each="rodzaj: ${rodzajeKontroli}"
						th:value="${rodzaj.id}" th:text="${rodzaj.nazwa}"></option>
				</select>
			</div>
		</div>

		<div class="form-group row" th:object="${oddzialy}">
			<label class="col-sm-2 col-form-label">Oddział:</label>
			<div class="col-sm-3">
				<select class="form-control" name="wybranyOddzial"
					th:object="${oddzialy}">
					<option value="default"></option>
					<option th:each="oddzial: ${oddzialy}" th:value="${oddzial.NRO}"
						th:text="${oddzial.nazwa}"></option>
				</select>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label" for="date"> Data: </label>
			<div class="col-sm-3">
				<div class="input-group-addon">
					<i class="fa fa-calendar"> </i>
				</div>
				<input class="form-control" id="date" name="date"
					placeholder="DD-MM-RRRR" type="text" size=10 />
			</div>
		</div>
		<div class="form-group"></div>
		<div>
			<button type="submit" class="btn btn-sm btn-outline-secondary">Dodaj</button>
		</div>
	</form>
	</div>

	<!-- Include jQuery -->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Include Date Range Picker -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

	<script>
		$(document).ready(
				function() {
					var date_input = $('input[name="date"]');
					var container = $('.bootstrap-iso form').length > 0 ? $(
							'.bootstrap-iso form').parent() : "body";
					date_input.datepicker({
						format : 'dd-mm-yyyy',
						container : container,
						todayHighlight : true,
						autoclose : true,
						language : 'pl'
					})
				})
	</script>
</body>
</html>