<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BankControl</title>
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
<link href="../css/style.css" th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
	<div
		class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<h5 class="my-0 mr-md-auto font-weight-normal">Bank Control</h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-outline-primary" href="/">Home</a> <a
				class="btn btn-outline-primary" href="/kontrole">Kontrole do
				wykonania</a> <a class="btn btn-outline-primary" href="/kontrole/dodajKontrole">Dodaj
				kontrole</a>
		</nav>
	</div>

	<div class="card text-center">
		<div class="card-header" th:text="${kontr.rodzajKontroli.nazwa}" />
		<div class="card-body">
			<p class="card-title" th:text="${kontr.oddzial.nazwa}" />
			<p class="card-title" th:text="|NRO: ${kontr.oddzial.NRO}|" />
			<p class="card-title"
				th:text="|Termin kontroli: ${#dates.format(new java.util.Date(kontr.terminKontroli),'dd-MM-YYYY')}|" />
			<div class="card-footer text-muted">Wyniki kontroli</div>


			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Imię i nazwisko</th>
						<th scope="col">NRP</th>
						<th: block th:each="h: ${testy}">
							<th style="width: 350px";th:colspan="${testy.size()}" th:text="${h.trescTestu}"></th>
							</th:block>
					</tr>

				</thead>
				<tbody th:remove="all-but-first">
					<tr th:each="przypadek: ${przypadki}">
						<td
							th:text="|${przypadek.pracownik.imie} ${przypadek.pracownik.nazwisko}|">Imię i nazwisko</td>
						<td th:text="${przypadek.pracownik.NRP}">NRP</td>
						<th: block th:each="p: ${przypadek.wynikKontroli}" >
						<td style="width: 350px" th:text="${p.wynikTestu.odpowiedz}">Test 1 </td>
						</th:block>
					</tr>

				</tbody>
			</table>



			<a href="/kontrole" class="btn btn-primary">Powrót</a>
		</div>

	</div>
</body>
</html>