<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BankControl</title>
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
<link href="/style.css" th:href="@{/style.css}" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1/js/bootstrap.min.js"></script>


</head>
<body>
	<div
		class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<h5 class="my-0 mr-md-auto font-weight-normal">Bank Control</h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-outline-primary" href="/">Home</a> <a
				class="btn btn-outline-primary" href="/kontrole">Kontrole do
				wykonania</a> <a class="btn btn-outline-primary"
				href="/kontrole/dodajKontrole">Dodaj kontrole</a>
		</nav>
	</div>

	<!-- 	---------------------------------------------------------------- -->
<div class="bs-example">
	<form action="/examples/bootstrap/process-button-group.php" method="post">
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary active">
				<input type="checkbox" name="options[]" checked="checked" value="1"> Option 1
			</label>
			<label class="btn btn-primary">
				<input type="checkbox" name="options[]" value="2"> Option 2
			</label>
			<label class="btn btn-primary active">
				<input type="checkbox" name="options[]" checked="checked" value="3"> Option 3
			</label>
		</div>
	<!-- 	---------------------------------------------------------------- -->

	<div class="album py-5 bg-light">
		<div class="container">
			<div class="card-deck mb-3 text-center">
				<div style="width: 350px; margin: 10px;"
					th:each="kontrola : ${kontrole}">
					<!--th:if="${kontrola.status}==false"-->
					<div class="card-header">
						<h4 class="my-0 font-weight-normal"
							th:text="${kontrola.rodzajKontroli.nazwa}" />
					</div>
					<div class="card-body">
						<div class="list-unstyled mt-3 mb-4">
							<div th:text="${kontrola.Oddzial.nazwa}" />
							<div th:text="|NRO: ${kontrola.Oddzial.NRO}|" />
							<div
								th:text="|Termin kontroli: ${#dates.format(new java.util.Date(kontrola.terminKontroli),'dd-MM-YYYY')}|" />

						</div>
						<a class="btn btn-outline-primary"
							th:href="${'kontrole/' + kontrola.id}">Podgląd </a> <a
							class="btn btn-outline-primary"
							th:href="${'/kontrole/wykonajKontrole/' + kontrola.id}"> Skontroluj </a> <a
							class="btn btn-outline-primary"
							th:href="${'/kontrole/delete/' + kontrola.id}"> Usuń </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>