<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BankControl</title>
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
<link href="../css/style.css" th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
	<div
		class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<h5 class="my-0 mr-md-auto font-weight-normal">Bank Control</h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-outline-primary" href="/">Home</a> <a
				class="btn btn-outline-primary" href="/kontrole">Kontrole do
				wykonania</a> <a class="btn btn-outline-primary"
				href="/kontrole/dodajKontrole">Dodaj kontrole</a>
		</nav>
	</div>

	<form th:object="${wrapper}" th:action="@{/wykonajKontrole}" th:method="post">
		<fieldset>
			<div class="card text-center">
				<div class="card-header" th:text="${kontrola.rodzajKontroli.nazwa}"
				name="rodzajKontroliId" th:object="${rodzajeKontroli}" th:value ="${kontrola.rodzajKontroli.id}" />
				<div class="card-body">
					<p class="card-title" th:text="${kontrola.oddzial.nazwa}" />
					<p class="card-title" th:text="|NRO: ${kontrola.oddzial.NRO}|" />
					<p class="card-title"
						th:text="|Termin kontroli: ${#dates.format(new java.util.Date(kontrola.terminKontroli),'dd-MM-YYYY')}|" />
					<div class="card-footer text-muted">Wyniki kontroli</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Imię i nazwisko</th>
								<th scope="col">NRP</th>
								<th: block th:each="h: ${testy}">
									<th style="width: 350px" ;th:colspan="${testy.size()}"
										th:text="${h.trescTestu}"></th>
									</th:block>
							</tr>
						</thead>
						<tbody th:remove="all-but-first">
							<tr th:each="wyn, stat : *{listaPomocnicza}" >
							<!-- th:if="${stat.index} % 2 ==0" -->
								<td
									th:text="|*{listaPomocnicza[__${stat.index}__].Imie} *{listaPomocnicza[__${stat.index}__].Nazwisko}|">Imię
									i nazwisko</td>
								<td th:text= "*{listaPomocnicza[__${stat.index}__].NRP}">NRP</td>
								<th: block th:each="h: ${testy}">
									<td>
									<select class="form-control">
											<option value="default"></option>
											<option th:field="*{listaPomocnicza[__${stat.index}__].IdWynikuTestu}"
											 th:each="odpowiedz: ${h.wynikTestu}"
											th:value="${odpowiedz.id}" th:text="${odpowiedz.odpowiedz}">
											</option>
									
									</select>
								
									</td>
									
							</th:block>
							</tr>
						</tbody>
					</table>
				</div>
					<div>
					<button type="submit" class="btn btn-sm btn-outline-secondary">Zapisz</button>
				</div>
			</div>
		</fieldset>
	</form>


	<!-- <form th:object="${kontrola}" th:action="@{/kontrole}" th:method="put">
    <input type="hidden" th:field="*{id}"/>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nazwa:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" th:field="*{nazwa}"/>
        </div>
        <p th:if="${#fields.hasErrors('nazwa')}" th:errors="*{nazwa}"/>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Oddział:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" th:field="*{oddzial}">
        </div>
        <p th:if="${#fields.hasErrors('oddzial')}" th:errors="*{oddzial}"/>
    </div>>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Termin wykonania:</label>
        <div class="col-sm-3">
            <input type="datetime-local" class="form-control" th:field="*{terminKontroli}"/>
        </div>
        <p th:if="${#fields.hasErrors('terminKontroli')}" th:errors="*{terminKontroli}"/>
    </div> -->
	<!--     <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Wynik kontroli</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                           checked>
                    <label class="form-check-label" for="gridRadios1">
                        Zgodny
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        Niezgody
                    </label>
                </div>
            </div>
        </div>
    </fieldset> -->
	<!--  <div>
        <button type="submit" class="btn btn-sm btn-outline-secondary">Zapisz</button>
    </div>
</form> -->
</body>
</html>